# 04-16 Hőmérséklet adatok

<span class="descriptionTitle">Feladat leírás:</span><br>Adott a BP_homerseklet.txt fájl, amely utf-8 kódolással tartalmazza Budapest éves hőmérsékleti adatait, pontosvesszőkkel elválasztva.<br>A fájl az alábbi fejlécet és adatokat tartalmazza: #ev;kozepho;maxho;maxho_nap;minho;minho_nap<br>Fejléc elemek magyarázata:<br>ev         - évszám<br>kozepho    - évi középhőmérséklet<br>maxho      - a legmagasabb napi középhőmérséklet az évben<br>maxho_nap  - a legmagasabb napi középhőmérséklet napja<br>minho      - a legalacsonyabb napi középhőmérséklet az évben<br>minho_nap  - a legalacsonyabb napi középhőmérséklet napja<br><br>1. feladat: Írjunk egy "beolvas" függvényt a fájl adatainak listába történő belvasására.<br>2. feladat: Ellenőrizzük, hogy minden év adata megvan-e a fájlban 1901-től 2020-ig (ez 120 adat).<br>       Ha megvan minden adat, akkor írjuk ki, hogy: "Minden év adata megvan 1901-től 2020-ig."<br>       Különben írjuk ki, hogy: "Hiányos a fájl, nincs meg minden adat 1901-től 2020-ig."<br>3. feladat: Írjuk ki azokat az éveket, amelyekben Karácsony napján (december 25-én) volt a leghidegebb.<br>4. feladat: Keressük meg azt az évet, amelyben a legnagyobb volt a minimális és maximális hőmérséklet közti különbség.<br><br>[Az adatok forrása](https://www.met.hu/eghajlat/magyarorszag_eghajlata/eghajlati_adatsorok/Budapest/adatok/eves_adatok/)<br>

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot

In [5]:
tempatures_df = pd.read_csv('BP_homerseklet.csv')
tempatures_df.head()

     ev  kozepho  maxho   maxho_nap  minho   minho_nap
0  1901     10.8   27.4  1901-07-30  -12.2  1901-01-10
1  1902     10.1   25.4  1902-08-07  -17.6  1902-12-15
2  1903     11.4   28.7  1903-07-20  -11.5  1903-01-23
3  1904     11.3   28.5  1904-08-07   -6.5  1904-01-12
4  1905     11.0   28.9  1905-08-05  -11.0  1905-01-01